<style>

 h1 {
    font-size:28px;
    color: white;
  }
  h2 {
    font-size: 20px;
    color: white;
    font-family: 'Garamond';
  }
  h3 {
    font-size: 40px;
    color: white;
    font-family: 'Garamond';
  }
  p {
    font-size: 20px;
    color: white;
    font-family: 'Garamond';
  }
  li {
    font-size: 20px;
    color: white;
    font-family: 'Garamond';
  }
 a {
    font-size: 20px;
    color: white;
    font-family: 'Garamond';
  }
  header {
    background-color: #CCCCCC;
    padding: 10px 20px;
  }

  nav a {
    color: black;
    margin-right: 20px;
  }
  header {
    margin-bottom: 20px; 
  }
  
  img {
    margin-top: 20px; 
    border: 20px solid #CCCCCC;
  }
  .smaller-image {
    width: 500px;
  }

  @media (max-width: 768px) {
    
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
      justify-content: center;
    }
  
    h3 {
      font-size: 32px;
    }
  
    p, li, a {
      font-size: 16px;
    }
  
    header {
      padding: 5px 10px;
    }
  
    nav a {
      margin-right: 10px;
    }
  
    img {
      margin-top: 10px;
      border: 10px solid #CCCCCC;
      max-width: 100%;
    }
  
    .smaller-image {
      width: 100%;
    }
  }
  
</style>